Package: mapr-schema-registry-internal
Version: __RELEASE_VERSION__
Section: base
Priority: optional
Architecture: all
Depends: mapr-core (>= 7.2.0) , mapr-kafka (>= 3.6.1)
Maintainer: Hewlett Packard Enterprise
Description: Confluent Schema Registry distribution included in HPE DataFabric Software Ecosystem Pack
  Tag: __RELEASE_BRANCH__
  Commit: __GIT_COMMIT__