Package: mapr-schema-registry-internal
Version: __RELEASE_VERSION__
Section: base
Priority: optional
Architecture: all
Depends: mapr-core (>= 7.1.0) , mapr-kafka (>= 2.6.1)
Maintainer: Hewlett Packard Enterprise <ezmeral_software_support@hpe.com>
Description: Ezmeral Ecosystem Pack: Kafka Schema Registry internal package
  Tag: __RELEASE_BRANCH__
  Commit: __GIT_COMMIT__